.EntityNode {
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    min-width: 166px;
    padding: 11px;
}

.EntityNode .table {
    margin-bottom: 0;
}

.EntityNode .table.table-sm.py0 td {
    padding-top: 0;
    padding-bottom: 0;
}

.react-flow {
    z-index: 0;
}
