.drag-handle {
    font-size: x-large;
    cursor: all-scroll;
    padding: 0 11px;
    color: lightgray;
    vertical-align: middle;
}

.drag-handle:hover {
    color: red;
}

.gray {
    color: gray;
}

.inline {
    display: inline-block;
}

.m0 {
    margin: 0;
}

.m11 {
    margin: 11px;
}

.mb11 {
    margin-bottom: 11px;
}

.ml11 {
    margin-left: 11px;
}

.mlr11 {
    margin-left: 11px;
    margin-right: 11px;
}

.mr11 {
    margin-right: 11px;
}

.mt11 {
    margin-top: 11px;
}

.mtb11 {
    margin-top: 11px;
    margin-bottom: 11px;
}

.p0 {
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.red {
    color: red;
}

.wa {
    width: auto;
}
